


body {
  background-color: black;
}

/*product section*/

#products {
  display: table;
  text-align: center;
  color: black;
  background-color: white;
  background-size: 75% auto;
  overflow:scroll;
  height:100vh;

}

.inverse-color {
  color:black;
}
.product-shirt {
	width:100%;
}
.checkoutTable {
  font-size: 12px;
  vertical-align: top;
  line-height:2.5;
}
.table > tbody > tr > td {
}

.centerCell {
    text-align: center;
}
.itemDescription {
  max-width: 200px;
  overflow: scroll;
}
.grandTotal {
  text-align: right;
}

.container-fluid {
  padding: 0px;
}

#drinkMenu {
  background-image: url('/cocktailMenu.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.drink-menu-container {
  height:100%;
}
